.flip-card {
  background-color: transparent;
  perspective: 1000px; 
  width: 200px;
  height: 225px;
  display: inline-block;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #ffffff;
  border: 1px solid #E1E1E1;
  color: black;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.flip-card-back {
  background-color: #ffffff;
  border: 1px solid #E1E1E1;
  color: black;
  transform: rotateY(180deg);
}